.form-area{
  border: 1px solid white;
  /* /* margin: 10px; */
  padding: 10px;  
  border-radius: 5px;
}
.form-area h1{
  display: flex;
  justify-content: center;
}
.form-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-group{
  display: flex;
  flex-direction: column;
  gap: 10px 10px;
  padding: 2px;
}
  textarea {
      resize: vertical;
      height: 80px;
    }
    input[type='submit']{
      background-color: rgb(1, 1, 108);
      padding: 5px 10px;
      color: wheat;
      border-radius: 5px;
      border: none;
      font-size: 1.2rem;
      cursor: pointer;
      transition: .5s;
    }
     input[type='submit']:hover{
      background-color: rgb(1, 64, 1);
     }